{% extends '_base.html' %}

{% block title %}Add a new model{% endblock %}

{% block content %}
<section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
  <header class="flex items-center justify-between">
    <h2 class="text-lg leading-6 font-medium text-black">Add a new model</h2>
    <span>Upload a trained model to expose it as a prediction API endpoint</span>
  </header>
  <div class="w-3/5 mx-auto pt-12">
    <form class="flex flex-col" action="{{ url_for('add_model') }}" method="post" enctype="multipart/form-data">
      <div class="">{{ form.name.label }}</div>
      <div class="">{{ form.name(class_="border-2 border-black p-2") }}</div>

      <div class="pt-4">{{ form.description.label }}</div>
      <div class="">{{ form.description(class_="border-2 border-black p-2 w-full") }}</div>

      <div class="pt-4">{{ form.training_library.label }}</div>
      <div class="">{{ form.training_library(class="p-2 bg-white border-2 border-black w-full") }}</div>

      <div class="pt-4">{{ form.serialized_model.label }}</div>
      <div class="">{{ form.serialized_model(class="p-2") }}</div>
      {% if form.serialized_model.errors %}
        <ul class="errors">
        {% for error in form.serialized_model.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}

      <input type="submit" value="Add model" class="mt-24 px-4 py-3 w-1/4 bg-blue-500 text-white">
      {{ form.csrf_token }}
    </form>
  </div>
</section>
{% endblock %}